.menu-container {
    -fx-padding: 10px;
    -fx-background-color: #333333;
    -fx-background: #333333;
}

.label {
    -fx-text-fill: #CCCCCC;
    -fx-font-size: 30px;
}

.plain-text {
    -fx-fill: #CCCCCC;
    -fx-font-size: 20px;
}

.text-field {
    -fx-border-color: white;
    -fx-border-radius: 0;
    -fx-text-fill: #CCCCCC;
    -fx-font-size: 20px;
    -fx-max-width: 400px;
    -fx-background-color: #424272;
}

.button {
    -fx-border-color: #CCCCCC;
    -fx-max-width: 250px;
    -fx-font-size: 20px;
    -fx-background-color: #1a1a42;
    -fx-text-fill: #CCCCCC;
}

.button:hover {
    -fx-cursor: hand;
    -fx-text-fill: #1a1a42;
    -fx-background-color: #CCCCCC;
}

.login-label {
    -fx-font-size: 20px;
}

.quiz-button {
    -fx-background-color: black;
    -fx-text-fill: snow;
    -fx-font-size: 15px;
    -fx-padding: 5px;
}

.quiz-button:hover {
    -fx-background-color: #939393;
    -fx-text-fill: black;
}





