.menu-container {
    -fx-padding: 10px;
    -fx-background-color: #333333;
}

.label {
    -fx-text-fill: #CCCCCC;
    -fx-font-size: 20px;
}

.menu-container {
    -fx-min-width: 50px;
    -fx-background-color: black;
}

.quiz-button {
    -fx-text-fill: snow;
    -fx-padding: 5px;
    -fx-background-color: black;
}