.menu-container {
    -fx-padding: 10px;
    -fx-background-color: #333333;
    -fx-background: #333333;
}

.label {
    -fx-text-fill: #CCCCCC;
    -fx-font-size: 20px;
}


.quiz-button {
    -fx-text-fill: snow;
    -fx-font-size: 15px;
    -fx-padding: 5px;
    -fx-background-color: black;
}

.quiz-button:hover {
    -fx-cursor: hand;
    -fx-background-color: snow;
    -fx-text-fill: black;
}